 /* BASE CUSTOMIZATION */
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

  body {
    display: flex;            
    justify-content: center;    
    align-items: center;     
    background-color: #f5f5f5;
  }

   
  /* Container */
  .grid-container {
    font-family: 'DMSans', sans-serif;
  
    height: 100%; /* або бажана висота */
    width: 60%;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    overflow: visible;
  
    padding-top: 3rem;     /* відступ зверху */
    padding-bottom: 3rem;  /* відступ знизу */
    box-sizing: border-box; /* щоб padding не збільшував ширину/висоту */
  }
  
  


  /* Items */
  .grid-container__item {
    min-width: 0;  
    min-height: 0;
    border-radius: 0.7rem;
  }
  
  /* ITEM-1 */
  .grid-container__item-1 {
    grid-row: 1 / span 2;

    background-color: #faeee2;
    padding: 4rem 3rem;
    row-gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden; 
  }
  
  .text{
    color: black;
    font-weight: 200;
  }

  .text-italic{
    font-style: italic;
  }

  .grid-container__text--create{
    font-size: 4rem;
    font-weight: 600;
    line-height: 3.5rem;
  }

  .grid-container__text--create-highlighted{
    color: #7052d3;
  }
  

  /* ITEM-2 */
  .grid-container__item-2 {
    grid-column: 2 / 4;
    grid-row: 1 / span 2; /* займає два ряди */
    
    background-color: #7651dc;
    
    /* Зменшуємо padding зверху/знизу, щоб не роздувати елемент повністю */
    padding: 2rem 2rem;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    /* Додатково можна "трохи підтиснути" контент */
    max-height: calc(100% - 2rem); /* або потрібне значення */
  }
  
  .grid-container__text--social{
    font-size: 6rem;
    color: white;
    font-weight: 600;
    margin-bottom: 3rem;
    line-height: 6rem;

    text-align: center;
  }

  .grid-container__text-yellow{
    color: #fcc973;
  }

  .grid-container__text--reviews{
    color: rgba(255, 255, 255, 0.724);
    font-size: 2.1rem;
    margin-top: 1rem;
    letter-spacing: 2px;
  }


  /* ITEM-3 */
  .grid-container__item-3{
    grid-row: 1/4;
    padding: 4rem 3rem 2rem 3rem;
    background-color: #dcd1fc;

    overflow: hidden;
    max-height: calc(100% - 8rem); /* або потрібне значення */

  }

  .grid-container__text-schedule{
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .grid-container__text-schedule-img{
    height: 32rem;
    padding: 2rem 0 2rem;
  }

  .grid-container__text-optimize{
    color: black;
    font-weight: 400;
    font-size: 1.8rem;
  }


   /* ITEM-4 */
  .grid-container__item-4{
    grid-row: 3 / 5;
    background-color: #ffcc69;
    display: flex
;
    flex-direction: column;
    row-gap: 5rem;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem 3rem;
    text-align: left;

  }

  .grid-container__ai-content-img{
    height: 21rem;
  }


  /* ITEM-5 */
.grid-container__item-5 {
  position: relative;
  top: -2rem;
  height: 21rem;
  padding: 1rem 5rem 0 3rem;
  overflow: hidden;
  background-color: white;
}

/* ITEM-6 */


  
  

  .grid-container__multiple-platforms-img{
    height: 6rem;
    margin-bottom: 2rem;
  }


   /* ITEM-6 */
  .grid-container__item-6{
    background-color: #ffcc69;

    display: flex;
    flex-direction: column;

    position: relative;
  top: -2rem;
  height: 21rem;
  padding: 1rem 3rem 0 3rem;
  overflow: hidden;
  }

  .grid-container__schedule-posts-img{
    height: 14rem;
    width: 19rem;
    align-self: center;
  }

  .grid-container__item-7{
    position: relative;
    margin-top: -2rem;

    padding: 1rem 2rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center
  }

  .grid-container__text-ag-num{
    font-size: 4rem;
    font-weight: 500;

    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
  }

  .grid-container__text-ag-fag{
    font-size: 1.5rem;
    font-weight: 300;

    align-self: center;
    margin-bottom: 1.8rem;

  }

  .grid-container__audience-growth-img{
    height: 6rem;
    width: 17rem;

    align-self: center;
    overflow: hidden;
  }

  .grid-container__item-8{
    grid-column: 3/5;
    position: relative;
    margin-top: -2rem;
    display: flex;
    column-gap: 2rem;

    padding: 2rem;
    background-color: #7651dc;
  }

  .grid-container__text-gf{
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    color: white;
    align-self: center;
  }